# 哔哩哔哩IP定位接口
host, api.bilibili.com, proxy

# 知乎IP定位接口
ip-cidr, 103.41.167.0/24, proxy
# 微博IP定位接口
host-suffix, api.weibo.cn, proxy
# 贴吧IP定位接口
host,www.baidu.com,proxy
# 头条IP定位接口
host-suffix,toutiaoapi.com,proxy
# 抖音IP定位接口
host-keyword,core-c-lq,国际媒体
host-keyword,core-lq,国际媒体
host-keyword,normal-c-lq,国际媒体
host-keyword,normal-lq,国际媒体
host-keyword,search-quic-lq,国际媒体
host-keyword,search-lq,国际媒体
host-keyword,douyin,国际媒体
host-suffix,bytedance.com,国际媒体
host-suffix,amemv.com,国际媒体
